<%- contentFor('HeaderCss') %>
<!-- ION Slider -->
<link
  href="public/assets/libs/ion-rangeslider/css/ion.rangeSlider.min.css"
  rel="stylesheet"
  type="text/css"
/>

<%- contentFor('breadcrumb') %>
<!-- start page title -->
<div class="row">
  <div class="col-12">
    <div
      class="
        page-title-box
        d-sm-flex
        align-items-center
        justify-content-between
      "
    >
      <h4 class="mb-sm-0 font-size-18">Products</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="javascript: void(0);">Siong Siong Supermart Inventory</a>
          </li>
          <li class="breadcrumb-item active">Products</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>
<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">Filter</h4>

        <div>
          <h5 class="font-size-14 mb-3">Categories</h5>
          <ul class="list-unstyled product-list">
            <li>
              <a href="#"
                ><i class="mdi mdi-chevron-right me-1"></i> Fruits &
                Vegetables</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="mdi mdi-chevron-right me-1"></i> Meats & Seafood</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="mdi mdi-chevron-right me-1"></i> Breakfast & Dairy</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="mdi mdi-chevron-right me-1"></i> Beverages</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="mdi mdi-chevron-right me-1"></i> Frozen Foods</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="mdi mdi-chevron-right me-1"></i> Biscuits & Snacks</a
              >
            </li>
            <li>
              <a href="#"
                ><i class="mdi mdi-chevron-right me-1"></i> Grocery & Staples</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="row mb-3">
      <div class="col-xl-4 col-sm-6">
        <div class="mt-2">
          <h5>All Products</h5>
        </div>
      </div>

      <div class="row">
        <% if (products.length !== 0) { %> <% products.forEach((element,
          index) => { %>
        <div class="col-xl-4 col-sm-6">
          
            <div class="card">
              <div class="card-body">
                <div class="product-img position-relative">
                  <div class="avatar-sm product-ribbon">
                    <span class="avatar-title rounded-circle bg-primary">
                      <%= element.stocks %> 
                    </span>
                  </div>
                  <img
                    src="public/assets/images/product/sunshinebread.jpeg"
                    alt=""
                    class="img-fluid mx-auto d-block"
                  />
                </div>
                <div class="mt-4 text-center">
                  <h5 class="mb-3 text-truncate">
                    <a href="/products/<%= element.slug %>/edit" class="text-dark"><%= element.name %> </a>
                  </h5>

                  <h5 class="my-0">
                    <span class="text-muted me-2"
                      ><del></del></span
                    >
                    <b>$ <%= element.price %></b>
                  </h5>
                  <button
                      type="button"
                      class="btn btn-success waves-effect mt-2 waves-light"
                    >
                   
                      <i class="bx bx-shopping-bag me-2"> <a href="/products/<%= element.slug %>/edit"></i>Edit Product
                      </a></button>
                </div>
              </div>
            </div>
          </div>
          <% }); %> <% } else { %>
            <p>No product is available</p>
            <% } %>
        </div>
        <!-- end row -->

        <div class="row">
          <div class="col-lg-12">
            <ul
              class="
                pagination pagination-rounded
                justify-content-center
                mt-3
                mb-4
                pb-1
              "
            >
              <li class="page-item disabled">
                <a href="#" class="page-link"
                  ><i class="mdi mdi-chevron-left"></i
                ></a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">1</a>
              </li>
              <li class="page-item active">
                <a href="#" class="page-link">2</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">3</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">4</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">5</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link"
                  ><i class="mdi mdi-chevron-right"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->

    <%- contentFor('FooterJs') %>
    <!-- Ion Range Slider-->
    <script src="public/assets/libs/ion-rangeslider/js/ion.rangeSlider.min.js"></script>

    <!-- init js -->
    <script src="public/assets/js/pages/product-filter-range.init.js"></script>

    <%- contentFor('BottomJs') %>
  </div>
</div>
